#undef RC_INVOKED
#include <commctrl.h>
#define RC_INVOKED 1
#include <windows.h>
#include <richedit.h>
#include "MMAFlash.h"

#ifndef IDC_STATIC
#define IDC_STATIC (-1)
#endif

IDI_ICN ICON "MMAFlash.ico"
1 24 "Manifest.xml"

IDD_DLG DIALOG 0, 0, 234, 144
// STYLE DS_ABSALIGN | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_GROUP | WS_POPUP | WS_SYSMENU
// EXSTYLE WS_EX_APPWINDOW
STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Macromedia/Adobe Flash Tool v1.4"
FONT 8, "Ms Shell Dlg"
BEGIN
  PUSHBUTTON      "Open...", IDC_FLOPEN, 177, 7, 50, 14, 0, WS_EX_LEFT
  PUSHBUTTON      "Get player...", IDC_GETPLAY, 177, 27, 50, 14, 0, WS_EX_LEFT
  EDITTEXT        IDC_FSOURCE, 7, 7, 165, 15, ES_AUTOHSCROLL | ES_READONLY, WS_EX_LEFT
  GROUPBOX        "Flash movie file", IDC_STATIC, 7, 22, 80, 45, 0, WS_EX_LEFT
  AUTORADIOBUTTON "Keep unchanged", IDC_FRADIO1, 12, 32, 71, 8, WS_GROUP, WS_EX_LEFT
  AUTORADIOBUTTON "Decompress", IDC_FRADIO2, 12, 42, 71, 8, 0, WS_EX_LEFT
  AUTORADIOBUTTON "Compress", IDC_FRADIO3, 12, 52, 71, 8, 0, WS_EX_LEFT
  PUSHBUTTON      "Extract player...", IDC_EXTRACT, 7, 67, 80, 14, 0, WS_EX_LEFT
  GROUPBOX        "Flash Player file", IDC_STATIC, 92, 22, 80, 60, 0, WS_EX_LEFT
  AUTORADIOBUTTON "Keep unchanged", IDC_PRADIO1, 97, 32, 71, 8, WS_GROUP, WS_EX_LEFT
  AUTORADIOBUTTON "Remove", IDC_PRADIO2, 97, 42, 71, 8, 0, WS_EX_LEFT
  AUTORADIOBUTTON "Add/replace from", IDC_PRADIO3, 97, 52, 71, 8, 0, WS_EX_LEFT
  EDITTEXT        IDC_FPLAYER, 97, 62, 70, 15, ES_AUTOHSCROLL | ES_READONLY, WS_EX_LEFT
  PUSHBUTTON      "Save", IDC_FLSAVE, 177, 52, 50, 14, 0, WS_EX_LEFT
  PUSHBUTTON      "Exit", IDCANCEL, 177, 69, 50, 14, 0, WS_EX_LEFT
  LTEXT           "(c) SysTools 2014, 2015 | http://systools.losthost.org/?misc", IDC_HOMEPAGE, 22, 86, 190, 8, SS_LEFT | SS_OWNERDRAW | SS_NOTIFY, WS_EX_LEFT
  CONTROL         "", IDC_PROGRESS, PROGRESS_CLASS, PBS_SMOOTH, 17, /*97*/86, 201, 10
  EDITTEXT        IDC_VERSION, 17, 102, 200, 33, NOT WS_BORDER | ES_AUTOHSCROLL | ES_MULTILINE | ES_READONLY, WS_EX_STATICEDGE
END

STRINGTABLE
BEGIN
  IDS_MSK_SWF "Macromedia/Adobe Flash movie (*.swf)|*.swf|"
  IDS_MSK_EXE "Projector (*.exe)|*.exe|"
  IDS_MSK_ALL "All Files (*.*)|*.*|"

  IDS_VER_FLASHMOVIE "Flash movie version: %d\r\n"
  IDS_VER_PLAYERMREQ "Required minimum Flash Player version: %d.%d\r\n"
  IDS_VER_PLAYERFILE "Current Flash Player version: %d.%d\r\n"
  IDS_VER_PLAYERFROM "Add/replace Flash Player version: %d.%d"

  IDS_FMT_PLAYERMENU "Select version to download"
  IDS_FMT_PLAYERNAME "Flash Player %d Projector"
  IDS_FMT_PLAYERSTOP "Cancel and close this menu"
  IDS_FMT_PLAYERLINK "http://download.macromedia.com/pub/flashplayer/updaters/%d/flashplayer_%d_sa.exe"

  IDS_MSG_BADVERSION "Current Flash file version: %d\r\n"\
                     "Selected Flash Player version: %d.%d\r\n"\
                     "Required Flash Player version: %d.%d\r\n\r\n"\
                     "Flash Player version must be equal or higher than required to play this Flash file.\r\n"\
                     "An older Flash Player can't be merged with a newer Flash file.\r\n\r\n"\
                     "Would you like to download appropriate version of the Flash Player?"
  IDS_MSG_BADPLAYER  "This file not a Flash Player Projector."
  IDS_MSG_BADFLASH   "This file not a Flash file or missing Flash movie overlay in Flash Player Projector."
  IDS_MSG_DONE       "Operation completed successfully."
  IDS_MSG_LZMA       "LZMA compressed files not supported - you can't compress or decompress them."
END
